<!DOCTYPE html>
<html>
<head>
	<title>@(ViewBag.Title ?? "*mash")</title>
	<link rel="stylesheet" href="/Content/styles/mash.css" />
</head>
<body>
	<div id="mashes">
		@RenderBody()
		
		@Html.Partial("_Navigation_More")
	</div>
	
	@if (IsSectionDefined("Scripts"))
	{
		@RenderSection("Scripts")
	}
</body>
</html>
