@model MediaViewModel

<div class="media-content media-type-@Model.Type.ToLower()">
	@switch (Model.Type)
	{
		case "image":
			var url = HttpUtility.UrlEncode(Model.Url);
			<img class="media" src="/fetch/image?@ContentController.UrlTokenPath=@url" alt="@Model.Name" height="200"/>
			@*<img class="media" src="@url" alt="@Model.Name"/>*@
			break;
		default:
			<h6>Unrecognized media type: @Model.Type</h6>
			break;
	}
</div>
