@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>Data Methods</title>
	</head>
	<body>
		<div>
	        <a href="Data\PublisherModels">Publisher Models</a>
		</div>

        <div>
	        <a href="Data\CurrentOfferModels">Current Offer Models</a>
		</div>

        <div>
	        <a href="Data\ChartbeatStats">Chartbeat Stats Models</a>
		</div>
	</body>
</html>