@using Mash.Models
@model IndexModel

@{
	Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Welcome to Group Commerce</title>
	<link rel="stylesheet" type="text/css" href="/Content/styles/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/Content/styles/layout.css"/>
	<link rel="stylesheet" type="text/css" href="/Content/styles/heat.css"/>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script src="http://maps.google.com/maps/api/js?v=3.1&sensor=false"></script>
    <script src='http://static.chartbeat.com/js/sitewidgets/sitetotal.js'></script>
	<script src="/Content/scripts/main-compiled.js"></script>
    <script src="/Content/scripts/referrerwidget.js" type="text/javascript" language="javascript"></script>
</head>

<body>
    <header id="group-commerce">
			Welcome to Group Commerce
	</header>
	<aside id="up-next">
	</aside>
	<article id="map-wrap">
		<div id="map"></div>
	</article>
	<aside id="site-stats"></aside>
	<footer id="stock-ticker">
	</footer>
    <script src="/Content/scripts/animation.js"></script>
</body>
</html>